
.navigation_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation__link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation__link:hover {
    background-color: #111;
}

.navigation__item {
    float: left;
}

.heading-primary {
    font-size: 5rem
}

.header__text-box {
    text-align: center;
}

.header__image-box {
    text-align: center;
}

.header_image {
    width: 270px;
    border: 1px solid black;
    border-radius: 50%;
}