.navigation {
    color: #111;
    
}

@media only screen and (max-width:600px) {
    .main-nav {
        font-size: .4em;
        padding:0;
    } 
    .img-portada {
        block-size: 23vh;
    }
}

.navigation_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation__link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation__link:hover {
    background-color: #111;
}

.navigation__item {
    float: right;
}
 
.navigation__item--left {
    float: left;
}    

.heading-primary {
    font-size: 5rem;
    margin-top: 1rem;
}

.header__text-box {
    text-align: center;
}

.header__image-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
}

.header_image {
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
}
